.product {

  &__list {
    margin-top: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 24px;
  }

  &__card {
    border: $border-grey;
    padding: 9px;
  }

  &__header {
    height: 200px;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__info {
    margin: 9px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}