*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
}

html {
  font-family: Inter, sans-serif;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: $color-black;
  background: $color-white;
}