.badge {
    position: absolute;
    text-transform: uppercase;
    padding: 4px 16px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-white);
}

.badge--red {
    background-color: var(--color-red);
}

.badge--yellow {
    background-color: var(--color-yellow);
}

.badge--purple {
    background-color: var(--color-purple);
}

.badge--top-left {
    left: 8px;
    top: 8px;
}

.badge--top-middle {
    top: 8px;
    left: 40%;
}

.badge--bottom-right {
    right: 8px;
    bottom: 8px;
}

