.container {
    max-width: var(--container-width-xl);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1440px) {
    .container {
        max-width: var(--container-width-lg);
    }
}

@media only screen and (max-width: 1320px) {
    .container {
        max-width: var(--container-width-md);
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: var(--container-width-sm);
    }
}

@media only screen and (max-width: 834px) {
    .container {
        max-width: var(--container-width-xs);
        padding: 0 16px !important;
    }
}