@import "./badge.css";
@import "./base.css";
@import "./button.css";
@import "./layout.css";
@import "./header.css";
@import "./slider.css";
@import "./products.css";

body {
    min-height: 100vh;
    color: var(--color-black);
    background: var(--color-white);
}
