.product__list {
    margin-top: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 24px;
}

@media only screen and (max-width: 1280px) {
    .product__list {
        grid-row-gap: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .product__list {
        grid-row-gap: 8px;
    }
}

.product__header {
    height: 200px;
}

.product__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product__card {
    border: var(--border-grey);
    padding: 9px;
}

.product__info {
    margin: 9px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__item {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__label {
    text-transform: capitalize;
    font-weight: 600;
}
